<header class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-normal">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-normal">
          <ul class="nav navbar-nav">
            <li>
              <a href="{{ url_for('dashboard') }}">Home</a>
            </li>
            <li>
              <a href="{{ url_for('visualization') }}">Metrics DataViz</a>
            </li>
            <li>
              <a href="{{ url_for('generator') }}">Name Generator</a>
            </li>
            <li>
              <a href="{{ url_for('nltk') }}">NLTK Explorer</a>
            </li>
          </ul>
          <ul class="nav navbar nav pull-right">
            <li>
              <a href="{{ url_for('generate_name') }}" class="btn btn-primary">Generate new names</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
