{% extends 'two-col.html' %}

{% block extra_left_col %}
<h3>Sample companies</h3>
<p>Names taken from fortune 500 companies.</p>
<ul>
	{% for name in metrics.names %}
	<li>{{ name }}</li>
	{% endfor %}
</ul>
{% endblock %}

{% block right_col %}
<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#dataviz">
					Name Metrics Visualized
				</a>
			</h4>
		</div>
		<div id="dataviz" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						{% for key, name in metrics.metrics.iteritems() %}
						<div class="row chart-container" id="chart-{{ key }}">
							<div class="col-md-8">
								{% set metric_title = key|replace('_', ' ')|capitalize  %}
								<h4><small>Breakdown by</small> {{ metric_title }}</h4>
								<canvas id="{{ key }}" height="400" width="550">
									<p>Sorry, your browser doesn't support cool stuff.</p>
								</canvas>
							</div>
							<div class="col-md-4 labels">
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#dataplain">
					Name Metrics Textualized
				</a>
			</h4>
		</div>
		<div id="dataplain" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="row">
					{% for key, name in metrics.metrics.iteritems() %}
					{% set metric_title = key|replace('_', ' ')|capitalize %}
					<div class="col-md-12">
						<h4>{{ metric_title }}</h4>
						{% for title, summary in name.iteritems() %}
						<p><strong>{{ title|capitalize }}</strong></p>
						<p class="{% if title == 'data' %}subdued{% endif %}">{{ summary }}</p>
						{% endfor %}
						<hr>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
